/* Base Style CSS Start */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  background: var(--light-blue);
}

/* Colors */

:root {
  --primary: #1f51ff;
  --orange: #ff9401;
  --red: #ec3406;
  --green: #04ad0b;
  --grey: #515151;
  --grey-light: #bfbfbf;
  --black: #000000;
  --white: #ffffff;
  --light-blue: #f7f9fe;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.heading-xl {
  font-family: "Rubik", sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 27px;
  color: var(--black);
}

.heading-l {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--black);
}

/* Base Style CSS End */

/* Header Part CSS Start */

/* Navigation Section CSS Start */

nav.navbar {
  padding: 20px 0;
  z-index: 999;
}

.logo a {
  font-size: 30px;
  font-weight: 700;
  color: var(--primary);
}

.nav-link {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: var(--black);
  padding: 0 16px !important;
}

.star,
.user {
  font-size: 20px;
  color: var(--black);
}

.user {
  padding-left: 10px;
}

.navbar-toggler {
  border: 0 !important;
  margin-top: -15px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

@media (max-width: 1200px) {
  .logo a {
    font-size: 24px;
  }

  .nav-link {
    padding: 5px 0 !important;
  }

  .navbar-nav {
    padding-top: 10px;
  }
}

/* Navigation Section CSS End */

/* Header Part CSS End */
