/* Base Style CSS Start */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  background: var(--light-blue);
}

/* Colors */

:root {
  --primary: #1f51ff;
  --orange: #ff9401;
  --red: #ec3406;
  --green: #04ad0b;
  --grey: #515151;
  --grey-light: #bfbfbf;
  --black: #000000;
  --white: #ffffff;
  --light-blue: #f7f9fe;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.heading-xl {
  font-family: "Rubik", sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 27px;
  color: var(--black);
  margin-bottom: 0;
}

.heading-l {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--black);
  margin-bottom: 0;
}

/* Base Style CSS End */

/* Header Part CSS Start */

/* Navigation Section CSS Start */

nav.navbar {
  padding: 20px 0;
  z-index: 999;
}

.logo a {
  font-size: 30px;
  font-weight: 700;
  color: var(--primary);
}

.nav-link {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: var(--black);
  padding: 0 16px !important;
}

.star,
.user {
  font-size: 20px;
  color: var(--black);
}

.user {
  padding-left: 10px;
}

.navbar-toggler {
  border: 0 !important;
  margin-top: -15px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

@media (max-width: 1200px) {
  .logo a {
    font-size: 24px;
  }

  .nav-link {
    padding: 5px 0 !important;
  }

  .navbar-nav {
    padding-top: 10px;
  }
}

/* Navigation Section CSS End */

/* Search Section CSS Start */

.search-container {
  padding-top: 32px;
}

.search-bar {
  background: var(--white);
  padding: 10px 16px;
}

.search-icon i {
  color: #808080;
  padding-right: 10px;
}

.search-box {
  width: 90%;
}

.search-field,
.search-field input {
  width: 100%;
  border: none;
}

.search-field input:focus {
  outline: 0;
}

.search-field input ::placeholder {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  color: var(--grey);
}

.search-button button {
  font-family: "Roboto Mono", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  background: var(--primary);
  padding: 8px 12px;
  border: none;
}

/* Search Section CSS End */

/* Search Modal CSS Start */

.modal-open {
  padding-right: 0 !important;
}

.search-modal .modal-dialog {
  max-width: 85%;
  width: 100%;
  margin-top: 116px;
}

.search-modal .modal-content {
  border-radius: 0 !important;
}

.search-modal .modal-body {
  padding: 0;
}

.search-modal-content {
  padding: 20px 25px;
}

.search-modal-suggestions h6,
.search-modal-hot > h6 {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 5px;
}

.search-modal-suggestions ul li {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 700;
  color: var(--black, #000);
  padding-top: 13px;
}

.search-modal-suggestions ul li i {
  color: #808080;
  padding-right: 5px;
}

.search-modal-hot {
  padding-top: 20px;
}

.search-modal-hot > h6 {
  margin-bottom: 16px;
}

.search-modal-hot-card {
  margin-bottom: 24px;
}

.smhc-img {
  margin-right: 24px;
}

.smhc-content h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 17.0526px;
  line-height: 20px;
  color: var(--black);
  margin-bottom: 2px;
}

.smhc-content span {
  font-family: "Rubik", sans-serif;
  font-size: 15.158px;
  font-weight: 500;
  color: var(--grey);
}

.smhc-tag span {
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  color: var(--white);
  background: var(--red, #ec3406);
  padding: 8.059px 10.074px;
  margin: 0 16px;
}

.smhc-right h6 {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 0;
  margin-right: 16px;
}

/* Search Modal CSS End */

/* Category Section CSS Start */

.category-wrapper {
  padding: 32px 0 25px;
}

.see-all-btn a {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #3c3c3c;
}

.category-buttons {
  display: flex;
  gap: 16px;
  padding-top: 24px;
  overflow-x: auto;
}

.category-buttons a {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  color: var(--black);
  background: var(--white);
  padding: 7px 12px;
  border: 2px solid var(--black);
}

.hit-dnia {
  padding-top: 40px;
}

/* Category Section CSS End */

/* Hero Section HTML Start */

.hero-wrapper {
  padding: 95px 0;
  background: var(--white);
}

.hero-img,
.hero-img img {
  max-width: 320px;
  width: 320px;
  margin: auto;
}

.hero-product-dsc {
  position: absolute;
  top: 0;
  left: 0;
}

.hero-product-dsc span {
  font-family: "Rubik", sans-serif;
  font-size: 19.5183px;
  font-weight: 700;
  color: var(--white);
  padding: 9.75916px 12.199px;
  background: var(--orange);
}

.hero-content-card {
  max-width: 385px;
  width: 100%;
  text-align: center;
}

.hero-content-card h4 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: var(--black);
}

.hero-content-card h5 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 19px;
  color: var(--grey);
  margin-bottom: 0;
}

.fav-btn {
  padding-top: 15px;
}

.fav-btn a {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--black);
}

.fav-btn a i {
  color: var(--primary);
  padding-right: 5px;
}

.hero-content-card > span {
  display: block;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 10px;
  color: #868686;
  padding-top: 15px;
}

.available-product {
  text-align: left;
}

.available-product h6 {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  color: var(--black);
  margin-bottom: 5px;
}

.available-product span {
  position: relative;
  font-family: "Roboto Mono", monospace;
  font-size: 10px;
  font-weight: 400;
  color: #868686;
  padding-left: 12px;
}

.available-product span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background: var(--green);
  border-radius: 100%;
}

.regular-price {
  text-align: right;
}

.regular-price span {
  display: block;
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  color: #868686;
  margin-bottom: 5px;
}

.regular-price h5 {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--black);
  margin-bottom: 0;
  opacity: 0.6;
}

.buy-btn {
  margin-top: 35px;
}

.buy-btn.orange {
  border: 1px solid var(--orange);
}

.buy-btn.blue {
  border: 1px solid var(--primary);
}

.buy-btn.red {
  border: 1px solid var(--red);
}

.buy-btn.black {
  border: 1px solid var(--black);
}

.buy-btn a {
  display: block;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  padding: 8px 0 5px;
}

.buy-btn.orange a {
  color: var(--orange);
}

.buy-btn.blue a {
  color: var(--primary);
}

.buy-btn.red a {
  color: var(--red);
}

.buy-btn.black a {
  color: var(--black);
}

.buy-btn a span {
  display: block;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--black);
}

.buy-btn-icon {
  position: absolute;
  top: -12px;
  left: 16px;
}

.buy-btn-icon span {
  background: var(--white);
  padding: 5px 10px;
}

.btn-discount-tag {
  position: absolute;
  top: -13px;
  right: 16px;
}

.btn-discount-tag span {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  padding: 8px 12px;
}

.btn-discount-tag span.orange {
  background: var(--orange, #ff9401);
}

.btn-discount-tag span.blue {
  background: var(--primary);
}

.btn-discount-tag span.red {
  background: var(--red);
}

.btn-discount-tag span.black {
  background: var(--black);
}

/* Hero Section HTML End */

/* Header Part CSS End */

/* Main Part CSS Start */

/* Popular Section CSS Start */

.popular-wrapper {
  padding-top: 64px;
}

.product-slider-container {
  padding: 40px 0 32px;
  background: var(--white);
  padding-left: 10%;
}

.owl-carousel .owl-stage-outer {
  padding-top: 20px;
}

.owl-carousel .owl-item img {
  display: block;
  width: initial;
}

.owl-stage {
  padding-left: 0px !important;
}

.owl-item {
  opacity: 0.5;
}

.owl-item.active {
  opacity: 1;
}

.product-card-img {
  max-width: 260px;
  margin: auto;
  text-align: center;
}

.product-card-img img {
  margin: auto;
}

.product-discount-tag {
  position: absolute;
  top: -10px;
  left: 0px;
}

.product-discount-tag span {
  font-family: "Rubik", sans-serif;
  font-size: 19.5183px;
  font-weight: 700;
  color: var(--white);
  padding: 9.75916px 12.199px;
  background: var(--primary);
}

.product-discount-tag.red span {
  background: var(--red);
}

.product-discount-tag.black span {
  background: var(--black);
}

.product-fav {
  position: absolute;
  right: 10px;
  bottom: -10px;
}

.product-fav i {
  color: var(--primary);
}

.product-card-content {
  padding-top: 30px;
}

.product-card-content > span {
  display: block;
  font-family: "Roboto Mono", monospace;
  font-size: 10px;
  text-align: center;
  color: #868686;
  padding-bottom: 12px;
}

.product-card-content > h5 {
  color: var(--black);
  font-family: "Rubik", sans-serif;
  font-size: 17.053px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 7px;
}

.product-card-content > h6 {
  font-family: "Rubik", sans-serif;
  font-size: 15.158px;
  font-weight: 500;
  color: var(--grey);
  text-align: center;
  margin-bottom: 0;
}

.product-fill-btn {
  padding-top: 30px;
}

.product-fill-btn a {
  display: block;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--white, #fff);
  background: var(--primary, #1f51ff);
  padding: 16px;
}

.product-fill-btn.red a {
  background: var(--red);
}

.product-fill-btn.black a {
  background: var(--black);
}

.availability-btn a {
  display: block;
  font-family: "Roboto Mono", monospace;
  font-size: 15.158px;
  text-align: center;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: var(--black);
  padding-top: 15px;
}

.see-more-btn {
  padding-top: 50%;
  padding-left: 50%;
}

.see-more-btn a {
  font-size: 16px;
  color: var(--black);
  text-decoration: underline;
}

/* Popular Section CSS End */

/* Hot Products Section CSS Start */

.hot-products-wrapper {
  padding-top: 64px;
}

/* Hot Products Section CSS End */

/* Promotions Section CSS Start */

.promotions-wrapper {
  padding: 64px 0 24px;
}

.promotion-title {
  background: var(--primary);
  padding: 16px;
}

.promotion-title h6 {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: var(--white);
  margin-bottom: 0;
}

.promotion-title h6 i {
  padding-right: 8px;
}

.promotions-container h6 {
  max-width: 356px;
  margin: auto;
  font-family: "Roboto Mono", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #424242;
  padding: 15px 0;
  margin-bottom: 0;
}

.promotions-container h6 span {
  font-weight: 700;
}

.promotions-search {
  max-width: 288px;
  margin: auto;
}

.promotions-search input {
  max-width: 160px;
  border: 1px solid #646464;
  padding: 10px 12px;
}

.promotions-search input:focus {
  outline: 0;
}

.promotions-search::placeholder {
  color: var(--grey-light, #bfbfbf);
  font-family: "Roboto Mono", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.promotions-search button {
  font-family: "Roboto Mono", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  background: var(--black);
  padding: 11px 12px;
  margin-left: 12px;
  border: none;
}

/* Promotions Section CSS end */

/* Latest Promotions Section CSS Start */

.latest-promotions-wrapper {
  padding-top: 64px;
}

/* Latest Promotions Section CSS End */

/* Main Part CSS End */

/* Footer Part CSS Start */

.footer-wrapper {
  background: var(--white);
  padding: 40px 0;
  margin-top: 64px;
}

.footer-container {
  padding-top: 30px;
}

.footer-menu h6 {
  color: var(--black);
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.footer-nav li {
  padding: 4px 0;
}

.footer-nav li a {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 700;
  color: #868686;
}

.footer-menu li a.expand-all-btn {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-weight: 400;
  text-decoration-line: underline;
  color: #868686;
}

.footer-nav li a span {
  font-weight: 400;
}

/* Footer Part CSS End */

/* ========***========
Category Page CSS
========***======== */

.category-products-wrapper {
  padding-top: 40px;
}

.category-products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
  row-gap: 80px;
  background: var(--white);
  padding: 60px 32px;
}

.filter select {
  font-family: "Roboto Mono", monospace;
  padding: 8px 5px 8px 10px;
  background: var(--white);
  border: 1px solid var(--grey-light);
}

.filter select:focus {
  outline: 0;
}

.filter-btn button {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  color: var(--white);
  background: var(--black, #000);
  padding: 8px 12px;
  border: none;
}

/* Filter Modal Section CSS Start */

.filter-modal .modal-header {
  border-bottom: none;
}

.filter-modal .modal-header button {
  border: none;
}

.filter-modal .modal-header h2 {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 0;
}

.filter-modal .modal-dialog {
  max-width: 760px;
  margin-top: 210px;
}

.filter-modal .modal-content {
  border-radius: 0;
}

.filter-modal .accordion-item {
  border: none;
  padding-bottom: 30px;
}

.filter-modal .accordion-body {
  padding: 15px 0 0;
}

.filter-modal .accordion-button {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--black);
  padding: 0;
}

.filter-modal .accordion-button::after {
  margin-left: 10px;
}

.filter-modal .accordion-button:focus,
.accordion-button:not(.collapsed) {
  background: none;
  box-shadow: none;
}

.filter-modal .category-buttons a.active {
  font-weight: 700;
  background: var(--light-blue, #f7f9fe);
  border: 2px solid var(--primary, #1f51ff);
}

.range-slide {
  position: relative;
  height: 1px;
  width: 320px;
}

.slide {
  position: absolute;
  top: 0;
  height: 1px;
  background: #e2e2e2;
  left: 7px;
  right: 9px;
}

.line {
  position: absolute;
  left: 5px;
  right: 0;
  top: 0;
  height: 1px;
  background-color: #000000;
}

.thumb {
  position: absolute;
  z-index: 2;
  text-align: left;
  border: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 50%;
  outline: none;
  top: -7px;
  height: 18px;
  width: 18px;
  margin-left: -9px;
}

.range-slide input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  pointer-events: none;
  z-index: 3;
  height: 3px;
  top: 0;
  width: 100%;
  opacity: 0;
  margin: 0;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  border-radius: 50%;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.range-slide-display span {
  font-family: "Roboto Mono", monospace;
  font-size: 10px;
  color: var(--grey-light, #bfbfbf);
}

.checkbox-item label {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  color: var(--black);
  padding-left: 5px;
}

.checkbox-item.grey label {
  color: var(--grey-light);
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.available-locally span {
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: var(--black);
}

.filter-input input {
  max-width: 100px;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: var(--black, #000);
  padding: 10px;
  border: 1px solid var(--black);
}

.filtry h5 {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--primary, #1f51ff);
  margin-bottom: 0;
}

.filter-input-contaienr span {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  font-weight: 700;
  color: var(--grey-light, #bfbfbf);
}

.filter-modal-footer {
  padding: 24px;
  background: var(--white);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1) inset;
}

.filter-modal-clear-btn a {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  text-decoration-line: underline;
  color: var(--black);
}

.fm-confirm-btn a {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  color: var(--white, #fff);
  background: var(--primary, #1f51ff);
  padding: 8px 16px;
}

/* Filter Modal Section CSS End */
